<nav>
  <h1 id="admin_title">Admin Dashboard</h1>
  <ul id="admin_links">
    <li><%= link_to "Dashboard", admin_index_path %></li>
    <li><%= link_to "Merchants", admin_merchants_path %></li>
    <li><%= link_to "Invoices", admin_invoices_path %></li>
  </ul>
</nav>

<h3> Invoices </h3>

<% @invoices.each do |invoice| %>
  <li> <%= link_to "Invoice ##{invoice.id}" %> </li>

<% end %>
